@import "../../styles/variables";

.Card {
  width: 100%;
  max-width: 495px;
  height: 300px;
  border: 1px solid $teal;
  margin: 20px;
  padding: 20px;
  text-align: center;
  padding-top: 131px;
  font-size: 4.5em;
  outline: none;
  cursor: pointer;
}
