@mixin default-button() {
  border-radius: 3px;
  background: $grey-light;
  padding: 5px 10px;
  border: none;
}
@mixin no-chrome() {
  display: inline-block;
  background: none;
  border: darken($grey-light, 10%);
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: $border-radius-std;
}
