$slate: #2d2d2d;
$background-light: #FCFCFC;
$background-dark: #c7dfed;
$menu-background: hsl(0,0%,90%);
$grey-light-background: #dadada;
$grey-light: #dadada;
$grey-dark: #3b3f43;
$white: #FEFEFE;
$green: #378c37;
$dark-blue: #090c25;

$yellow: #ffff00;
$teal: #24cdff;
$brightgreen: #adff2f;


$border-radius-std: 3px;

$font-family-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
